.window {
    position: absolute;
    top: 25%;
    left: 10%;
    width: 40vw;
    height: 60vh;
    max-width: 800px;
    min-width: 400px;
    max-height: 550px;
    background-color: #000320;
    border: 1px solid #E1A1DF; 
    transform-origin: center;;
}

.window .menu-bar {
    width: 100;
    height: 30px;
    background: linear-gradient(to right, #E1A1DF, #524EFF);
    overflow: hidden;
    
}

.menu-bar h3{
    padding: 8px;
    font-family: "Press Start 2P";
    color: #fff;
    font-size: .8em;
    font-weight: lighter;
    text-align: left;
    margin-left: 5px;
    padding-left: 0px ;
    overflow: hidden;
}